# Encodium
DB_HOST=localhost
DB_PORT=3306
DB_USER=encodium
DB_PASS=encodium2026
DB_NAME=encodium
JWT_SECRET=change_me_random_secret
PORT=4000
MEDIA_DIR=/home/coder/Videos
ENCODE_DIR=/tmp/encodium-encode
